PRIVATE_KEY=
INFURA_KEY=
ETHERSCAN_API_KEY=

# Aggregator Hooks:
MAINNET_RPC_URL=
# UniswapV4 Pool Manager (required for all tests)
POOL_MANAGER=
# StableSwap
STABLE_SWAP_POOL=
# StableSwap-NG
STABLE_SWAP_NG_POOL=
# Fluid DEX T1
FLUID_DEX_T1_POOL_ERC=
FLUID_DEX_T1_POOL_NATIVE=
# Fluid DEX Lite
FLUID_DEX_LITE=
FLUID_DEX_LITE_RESOLVER=
FLUID_DEX_LIT_ADMIN_MODULE=
FLUID_DEX_LITE_TOKEN0_ERC=
FLUID_DEX_LITE_TOKEN1_ERC=
FLUID_DEX_LITE_SALT_ERC=
FLUID_DEX_LITE_LIQUIDITY=